# Fedora 42
# Build waterfox from release tag and publish .rpm package

on:
  workflow_call:
    inputs:
      cache-file-path:
        required: true
        type: string
      version:
        required: true
        type: string
      containers:
        required: true
        type: string
env:
  SPEC: $GITHUB_WORKSPACE/specs/waterfox.spec
  VENDOR: $GITHUB_WORKSPACE/vendor.js
  DESKTOP: $GITHUB_WORKSPACE/waterfox.desktop
  DISTR: $GITHUB_WORKSPACE/distribution.ini
  POLICIES: $GITHUB_WORKSPACE/policies.json
  APPDATA: $GITHUB_WORKSPACE/waterfox-browser.appdata.xml
jobs:
  build:
    strategy:
      max-parallel: 2
      matrix:
        image: ${{ fromJson(inputs.containers) }}
    runs-on: ubuntu-24.04
    container: ${{ matrix.image }}
    steps:
      - name: Checkout local
        uses: actions/checkout@v4.2.0
        with:
          repository: ${{ github.repository }}
      - name: Update tag version inside spec file
        run: sed -i "s/.*%define release_tag.*/%define release_tag ${{ inputs.version }}/" ${{ env.SPEC }}
      - uses: actions/cache/restore@v4
        id: cache
        with:
          key: ${{ runner.os }}-waterfox-${{ inputs.version }}-${{ hashFiles(inputs.cache-file-path) }}
          path: ${{ inputs.cache-file-path }}
          fail-on-cache-miss: true
      - name: Install dependencies
        run: |
          sudo dnf install -y -q rpmdevtools rpmlint fdupes
      - name: Create rpm tree
        run: rpmdev-setuptree
      - name: Move tarball asset to rpm build sources location
        run: mv ${{ inputs.cache-file-path }} $HOME/rpmbuild/SOURCES/${{ inputs.version }}.tar.bz2
      - name: Move rpm assets to rpmbuild dir
        run: |
          mv ${{ env.SPEC }} $HOME/rpmbuild/SPECS/
          mv ${{ env.VENDOR }} $HOME/rpmbuild/SOURCES
          mv ${{ env.DESKTOP }} $HOME/rpmbuild/SOURCES
          mv ${{ env.DISTR }} $HOME/rpmbuild/SOURCES
          mv ${{ env.POLICIES }} $HOME/rpmbuild/SOURCES
          mv ${{ env.APPDATA }} $HOME/rpmbuild/SOURCES
      - name: Build rpm binary package
        run: |
          cd $HOME/rpmbuild
          rpmbuild -bb SPECS/waterfox.spec -v
          rpm_file=$(find $HOME/rpmbuild/RPMS/x86_64 -name "*.rpm*" ! -name "*src*" ! -name "*debug*")
          echo "rpm_file = $rpm_file"
          source /etc/os-release
          echo "Version ID = $VERSION_ID"
          mv $rpm_file $HOME/rpmbuild/RPMS/x86_64/waterfox-${{ inputs.version }}.fc$VERSION_ID.x86_64.rpm
          echo "RPM_ASSET=$HOME/rpmbuild/RPMS/x86_64/waterfox-${{ inputs.version }}.fc$VERSION_ID.x86_64.rpm" >> "$GITHUB_ENV"
      - name: Release
        uses: softprops/action-gh-release@v2.0.8
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ${{ env.RPM_ASSET }}

