# Build Waterfox and publish release
name: Waterfox build & release
on: workflow_dispatch
env:
  REPO_DEV: BrowserWorks
  REPO_NAME: waterfox
  RELEASES_CDN: https://cdn1.waterfox.net/waterfox/releases/${version}/Linux_x86_64/waterfox-${version}.tar.bz2
jobs:
  release-ci:
    runs-on: ubuntu-24.04
    outputs:
      VERSION: ${{ steps.step_getlatest_tag.outputs.VERSION }}
      ASSET: ${{ steps.step_get_asset.outputs.ASSET }}
    steps:
      - name: Checkout local
        uses: actions/checkout@v4.2.0
        with:
          repository: ${{ github.repository }}
          sparse-checkout: |
            .github/workflows

      - name: Install build dependencies
        run: sudo apt-get install git -y -qq
      - name: Get latest Waterfox release tag
        id: step_getlatest_tag
        run: |
          # get latest release tag from remote

          latest_tag=$(curl -s https://api.github.com/repos/$REPO_DEV/$REPO_NAME/releases/latest |  jq -r '.tag_name')

          echo "INFO: Latest tag = $latest_tag"
          test ! -z "$latest_tag" && echo "LATEST_TAG=$latest_tag" >> "$GITHUB_ENV" \
          || echo "ERROR: Latest tag not found" || exit 1

           # use the tag name but remove the 'v' for the asset name to publish
          tagname=$(echo $latest_tag | sed 's/v//')

          echo "VERSION=$tagname" >> "$GITHUB_OUTPUT"
      - name: Download tag asset
        id: step_get_asset
        run: |
          CDN=$(echo $RELEASES_CDN | sed -e 's/${version}/${{ env.LATEST_TAG }}/g' -e 's/-${version}/${{ env.LATEST_TAG }}/g')
          echo "Release CDN release link = $CDN"
          curl -L $CDN --output waterfox-${{ env.LATEST_TAG }}.tar.bz2
          echo "ASSET=waterfox-${{ env.LATEST_TAG }}.tar.bz" >> "$GITHUB_OUTPUT"
      - uses: actions/cache/save@v4
        id: cache
        with:
          path: ${{ steps.step_get_asset.outputs.ASSET }}
          key: ${{ runner.os }}-v${{ steps.step_getlatest_tag.outputs.VERSION }}-${{ hashFiles(steps.step_get_asset.outputs.ASSET) }}
      - name: Save version
        run: echo ${{ steps.step_get_artifact.outputs.VERSION }} > VERSION
      - name: Upload version
        uses: actions/upload-artifact@v5
        with:
          name: VERSION
          path: VERSION
          retention-days: 1

  Fedora:
    needs: release-ci
    uses: ./.github/workflows/fedora.yml
    with:
      cache-file-path: ${{ needs.release-ci.outputs.ASSET }}
      version: ${{ needs.release-ci.outputs.VERSION }}
      containers: "['fedora:42']"

  release:
    uses: ./.github/workflows/release.yml
    needs: ["fedora"]

